
html {
    height: 100%;
    width: 100%;
    background-color: coral;

}

body {
    width: min-content;
    /* background-color: coral; */
    /* position: absolute; */
}

#container {
    max-width: 900;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 10px;
    /* margin: auto; */
}

.sky {
    /* position: absolute; */
    width: 100%; 
    height: auto;
    bottom: 0%;
    image-rendering: crisp-edges;
    border-radius: 10px;
    z-index: 0;
}

.overlay{
    position: absolute;
}

#panel-container {
    width: 100%;
    width: 100%;
    display: block;
    text-align: center;
}

#init-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    opacity: 80%;
    z-index: 10;
}

#front-panel, #start-panel {
    position: absolute;
    width: 60%;
    height: 60%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    opacity: 1;
    padding: 20px;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#title {
    text-align: center;
    top: 5%;
    margin: auto;
}

.nes-field {
    display: flex;
    position: absolute;
    width: 100%;
    margin: auto;
}

.word-input {
    width: 30%;
    margin: auto;
}

#ok-button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
}

.mood {
    position: absolute;
    width: 90%;
    height: min-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mood-slider-div {
    margin-top: 1%;
    position: absolute;
    display: flex;
    left: 50%;
    width: 90%;
    transform: translate(-50%);
}

.nes-progress {
    margin: 5px;
    height: 20px;
}

#button-container {
    position: absolute;
    display: flex;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    bottom: 2%;
}

.nes-btn {
    position: absolute;
    margin: auto;
}

#mood-slider, #name-field1, #name-field2 {
    width: calc((100%-2px)/2);
    height: calc((100%-4px)/6);
    flex-basis: auto;
}

p {
    position: static;
}

.canvases {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0px;
    left: 0px;
    image-rendering: crisp-edges;
    border-radius: 10px;
}

img {
    image-rendering: crisp-edges;
}


/* IMAGE FILTERS */

.invert {
    filter: invert(100%);
}
